/obj
/bin

/omp_obj
/omp_bin

/test_obj
/test_bin
/test_files

/prof_obj
/omp_prof_obj
/prof_bin
/reports

/data
/models
/out
/measures

/out_comparison
/logs

/timm_train_vit/data
.vscode

# Python virtual environment
.venv/
venv/
env/
__pycache__/
*.pyc
*.egg-info/

my_env
